.basketInHeader{
    position: absolute;
    right: 15%;
    button{
        background: transparent;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 14px;
            border-radius: 40%;
            border: 1px solid #000000;
            padding: 0px 6px;
            color: rgba(0, 0, 0, 0.9);
            margin-right: 5px;
            background: #b692d0;
        }
        svg{
            font-size: 40px;
            color: #b692d0;
        }
    }
}
.styles_overlay__CLSq-{
    z-index: 4000;
    overflow-y: hidden;
}
.styles_modal__gNwvD{
    padding: 0;
    border-radius: 5px;
    max-width: none;
    width: 70%;
    overflow-y: auto;
    height: 100%;
    h3{
        border-bottom: 1px solid gray;
        padding: 25px;
    }
    .styles_closeButton__20ID4{
        outline: none;
        top: 10px;
        right: 10px;
    }
    .fullBasket{
        padding: 20px 0px;
        .itemsInBasket{
            width: 90%;
            margin: 0 auto;
            padding: 20px 0px;
            border-bottom: 1px solid gray;
            border-top: 1px solid gray;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .deleteItemBasket{
                svg{
                    cursor: pointer;
                    font-size: 18px;
                }
            }
            .imageInBasket{
                width: 20%;
                img{
                    width: 100%;
                }
            }
            .infoInBasket{
                input[type='number'] {
                    -moz-appearance:textfield;
                }
                
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
                div{
                    display: flex;
                }
                input{
                    cursor: default;
                    border-radius: 5px;
                    border: 2px solid #baadc3;
                    text-align: center;
                    width: 30%;
                    margin: 0px 3px;
                    outline: none;
                }
                .quantity:first-child{
                    margin-left: 10px;
                }
                .quantity{
                    background: #baadc3;
                    outline: none;
                    border: none;
                    padding: 3px 10px;
                    border-radius: 5px;
                }
            }
        }
        .orderBasket{
            width: 80%;
            margin: 0 auto;
            margin-top: 20px;
            div{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
            div:first-child{
                flex-direction: column;
                padding: 10px 20px;
            }
        }
        .continueShopping,
        .checkout{
            padding: 10px;
            border-radius: 5px;
            outline: none;
            background: none;
            border: 1px solid #b692d0;
            margin: 10px;
            color: #b692d0;
            transition: background .4s,
                        color .4s;
        }
        .continueShopping:hover{
            background: #b692d0;
            color: white;
        }
        .checkout{
            color: white;
            background: #b692d0;
        }
        .checkout:hover{
            background: #9853ce;
        }
    }
        
    .emptyBasket{
        position: relative;
        img{
            width: 100%;
        }
        div{
            display: flex;
            justify-content: center;
            margin-top: -7.3%;
            button{
                background: none;
                outline: none;
                border: 1px solid #d298ff;
                background: #d298ff;
                border-radius: 5px;
                padding: 5px 10px;
                transition: color .4s,
                            background .4s, 
                            border .4s,
                            transform .4s;
                            
            }
            button:hover{
                transform: scale(1.1);
                color: white;
            }
        }
    }
}
