/////////////////////////////////  . CHOOSE BRAND . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.wrapperChooseBrand{
  position: relative;
  overflow: hidden;
  z-index: 5;
      img{
        height: 100%;
        width: 100%;
        position: absolute;
        filter: blur(4px);
        z-index: 6;
        object-fit: cover;
      }
      .chooseBrand
      {
          width: 100%;
          height: 500px;
          display: flex;
          align-items: center;
          position: relative;
          z-index: 7;

          form{
              display: flex;
              justify-content: center;
              width: 750px;
              margin: 0 auto;
              align-items: center;
              .selects{
                  position: relative;
                  display: flex;
                  width: 70%;
                  justify-content: space-evenly;
                  .brandSelect,
                  .modelSelect{
                    position: relative;
                    width: 90%;
                  }
                  .iconInput{
                    width: fit-content;
                    position: absolute;
                    right: 15%;
                    top: 60%;
                    transition: .4s;
                  }

                p{
                  color: white;
                  font-weight: 400;
                }
                input{
                      cursor: pointer;
                      padding: 10px;
                      outline: none;
                  }
                  .mainInput{
                    border: 1px solid #ffffff8c;
                      width: 90%;
                      border-radius: 5px;
                      background:rgba(255, 255,255, .6);
                      transition: .4s;
                  }
                  .mainInput:hover{
                    color: white;         
                  }
                  .mainInput:hover ~ .iconInput{ 
                    color: white!important;
                  }
                  
              }
              button{
                  padding: 11px 20px;
                  box-shadow: 0px 0px 7px 1px #00000026;
                  background: rgba(255, 255, 255, 0.6);
                  outline: none;
                  border: none;
                  margin-top: 40px;
                  border-radius: 5px;
                  transition: .4s;
                  z-index: 1;
              }
              button:hover{
                  background: #e9cbff;
              }
          }
      }

          .brandsName{
              position: relative;
              display: flex;
              flex-direction: column;
              background: white;
              input{
                  border: none;
              }
              input:hover
              {
                  background:rgb(241, 241, 241);
                  color: rgb(193, 193, 193);
              }
          }
      }


      .showBrandsName-enter-active {
          animation: fade 200ms;
        }

      .showBrandsName-exit-active {
          animation: fade 200ms alternate-reverse;
        }

/////////////////////////////////  . CHOOSE BRAND . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\





/////////////////////////////////  . NEW SLIDER . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.newItems
{
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,242,233,1) 50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h2{
    margin: 30px;
  }
}
.slickSlider{
  width: 95%;
  margin: 0 auto;
  cursor: grab;
  .slick-list{
    width: 100%;
    margin: 0 auto;
  }
  .blockInSlider{
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow .2s;
    img{
      width: 100%;
    }
  }
  .blockInSlider:hover{
    -webkit-box-shadow: 0px 45px 69px -56px rgba(0,0,0,0.94);
    -moz-box-shadow: 0px 45px 69px -56px rgba(0,0,0,0.94);
    box-shadow: 0px 45px 69px -56px rgba(0,0,0,0.94);

    .infoSlider{
      h3{
        transform: translateY(-10px);
      }
      p{
        opacity:0;
        transform: translateY(-20px);
      }
    }
  }
   
}

.nextArrow,
.prevArrow{
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -15%;
  right: 20px;

  svg{
    font-size: 40px;
    cursor: pointer;
  }
}
.nextArrow{
  svg{
    margin-left: 10px;
  }
}

.prevArrow{
  svg{
    margin-left: -20px;
  }
  left: 20px;
}
.hoverNextIcon{
  transform: rotate(70deg);
    position: absolute;
    top: -7px;
    right: -17px;
    color: #00000003;
}

.infoSlider{
  padding: 20px;
  display: flex;
  flex-direction: column;
  h3{
    font-weight: bold;
    font-size: 20px;
    transition: transform .4s;
  }
  p{
    font-weight: bold;
    color: #d298ff;
    transition: transform .4s,
                opacity .6s;
  }
  span{
    font-size: 13px;  
  }
}

.showImg-enter-active{
  animation: fade 100ms forwards;
}

.showImg-exit-active{
  animation: fade 100ms alternate-reverse;
}

@keyframes fade
{
from{ opacity: 0;}
to { opacity: 1;}
}

.slick-track 
{
  display: flex;
  padding-bottom: 80px;
  a{
    color: black;
    text-decoration: none;
  }
}

/////////////////////////////////  . NEW SLIDER . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\



/////////////////////////////////  . SALE SECTION . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.saleSelect{
  width: 100%;
  height: 500px;
  position: relative;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
  }
  div{
    position: absolute;
    z-index: 3;
    color: white;
    top: 50%;
    left: 10%;
    .saleLink{
      color: white;
      text-decoration: none;
      h4{
        font-size: 50px;
        font-weight: bold;
        transition: .4s;
      }
      h4:hover{
        color:#d298ff;
      }
      p{
        margin-top: 40px;
        transition: color 0.3s;
      }
      p:after {
        display: block;
        position: absolute;
        left: 27%; 
        transform: translateX(-50%); 
        width: 60%;
        height: 3px;
        background-color: #d298ff; 
        content: "";
        transition: width 0.3s ease-out;
      }
      p:hover{
        color: #e9cbff;
      }
      p:hover:after,
      p:focus:after {
        width: 0;
        height: 2px;
      }
    }
  }
}
/////////////////////////////////  . SALE SECTION . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\



/////////////////////////////////  . NEW ARRIVALS . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.newArrivals{
  width: 100%;
  height: 500px;
  position: relative;
  padding: 30px 0px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    filter: brightness(.8);
  }
  .leftArrivals,
  .rightArrivals{
    float: left;
    width: 50%;
    position: relative;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
      div{
      position: absolute;
      z-index: 5;
      text-align: center;
        a{
          text-decoration: none;
        
          p{
            color: white;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
            transition: .4s;
          }
          p:hover{
            color: #e9cbff;
          }
          button{
            color: white;
            background: transparent;
            padding: 15px 30px;
            border: 2px solid white;
            border-radius: 5px;
            text-decoration: none;
            transition: .4s;
          }
          button:hover{
            background: #d298ff;
            border: 2px solid #d298ff;
          }
        }
      }
  }
  .rightArrivals{
    float: right;
    animation: rigthBlockShow 1s;
  }
  .leftArrivals{
    animation: truckRoll 1s;
  }
}

@keyframes rigthBlockShow{
  from {transform:translateX(500px);}
  to {transform: translateX(0px);}
}

/////////////////////////////////  . NEW ARRIVALS . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\