.wrapperChooseBrand{
  position: relative;
  overflow: hidden;

      img{
        height: 550px;
        width: 100%;
        position: absolute;
        filter: blur(5px);
        z-index: -1;
      }
      .chooseBrand
      {
          width: 100%;
          height: 550px;
          display: flex;
          align-items: center;

          form{
              display: flex;
              justify-content: center;
              width: 750px;
              margin: 0 auto;
              align-items: center;
              .selects{
                  position: relative;
                  display: flex;
                  width: 70%;
                  justify-content: space-evenly;
                  .brandSelect,
                  .modelSelect{
                    position: relative;
                    width: 90%;
                  }
                  .iconInput{
                    width: fit-content;
                    position: absolute;
                    right: 40px;
                    top: 50px;
                    transition: .4s;
                  }

                p{
                  color: white;
                  font-weight: 400;
                }
                input{
                      cursor: pointer;
                      padding: 10px;
                      outline: none;
                  }
                  .mainInput{
                    border: 1px solid #ffffff8c;
                      width: 90%;
                      border-radius: 5px;
                      background:rgba(255, 255,255, .6);
                      transition: .4s;
                  }
                  .mainInput:hover{
                    color: white;         
                  }
                  .mainInput:hover ~ .iconInput{ 
                    color: white!important;
                  }
                  
              }
              button{
                  padding: 11px 20px;
                  box-shadow: 0px 0px 7px 1px #00000026;
                  background: rgba(255, 255, 255, 0.6);
                  outline: none;
                  border: none;
                  margin-top: 40px;
                  border-radius: 5px;
                  transition: .4s;
              }
              button:hover{
                  background: #e9cbff;
              }
          }
      }

          .brandsName{
              position: relative;
              display: flex;
              flex-direction: column;
              background: white;
              input{
                  border: none;
              }
              input:hover
              {
                  background:rgb(241, 241, 241);
                  color: rgb(193, 193, 193);
              }
          }
      }


      .showBrandsName-enter-active {
          animation: fade 200ms;
        }

      .showBrandsName-exit-active {
          animation: fade 200ms alternate-reverse;
        }


.newItems
{
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,242,233,1) 50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h2{
    margin: 30px;
  }
}
.slickSlider{
  width: 95%;
  margin: 0 auto;
  cursor: grab;
  .slick-list{
    width: 100%;
    margin: 0 auto;
  }
  .blockInSlider{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: box-shadow .2s;
    img{
      width: 100%;
    }
  }
  .blockInSlider:hover{
    box-shadow: 0px 0px 7px 1px #00000026;
  }
   
}

.nextArrow,
.prevArrow{
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -10%;
  right: 20px;

  svg{
    font-size: 40px;
    cursor: pointer;
  }
}
.nextArrow{
  svg{
    margin-left: 10px;
  }
}

.prevArrow{
  svg{
    margin-left: -20px;
  }
  left: 20px;
}
.hoverNextIcon{
  transform: rotate(70deg);
    position: absolute;
    top: -7px;
    right: -17px;
    color: #00000003;
}

.infoSlider{
  padding: 20px;
  display: flex;
  flex-direction: column;
  h3{
    font-weight: bold;
    font-size: 20px;
  }
  p{
    font-weight: bold;
    color: #e9cbff;
  }
  span{
    font-size: 13px;  
  }
}

.showImg-enter-active{
  animation: fade 200ms;
}

.showImg-exit-active{
  position: absolute;
  opacity: 0;
}

@keyframes fade
{
  0%{
    opacity: 0;

  }
  25%{
      opacity: 0;

  }
  50%{
      opacity: .5;

  }
  75%{
    opacity: .75;

  }
  100%{
    opacity: 1; 
  }
}

.slick-track 
{
  display: flex;
}