/////////////////////////////////  . CHOOSE BRAND . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.wrapperChooseBrand{
  position: relative;
  overflow: hidden;
  z-index: 5;
      img{
        height: 100%;
        width: 100%;
        position: absolute;
        filter: brightness(0.6);
        z-index: 6;
        object-fit: cover;
      }
      .chooseBrand
      {
          width: 100%;
          height: 500px;
          display: flex;
          align-items: center;
          position: relative;
          z-index: 7;

          form{
              display: flex;
              justify-content: center;
              width: 750px;
              margin: 0 auto;
              align-items: center;
              .selects{
                  position: relative;
                  display: flex;
                  width: 70%;
                  justify-content: space-evenly;
                  .brandSelect,
                  .modelSelect{
                    position: relative;
                    width: 90%;
                  }
                  .iconInput{
                    width: fit-content;
                    position: absolute;
                    right: 15%;
                    top: 60%;
                    transition: .4s;
                    color: #484c7f;
                  }

                p{
                  color: #484c7f;
                  width: fit-content;
                  background: #f1d4d4;
                  border-radius: 5px;
                  padding: 3px 5px;
                }
                input{
                  cursor: pointer;
                  padding: 10px;
                  outline: none;
                  background: #f1d4d4;
                  color: #484c7f;
                }
                  .brandsName{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    input{
                        border: none;
                    }
                    input:hover
                    {
                        background:#ac8daf;
                        color: #484c7f;
                    }
                }
                  .mainInput{
                    border: 1px solid #ffffff8c;
                    width: 90%;
                    border-radius: 5px;
                    background:#f1d4d4;
                    transition: .4s;
                    color: #484c7f;
                  }
                  .mainInput:hover{
                    background: #484c7f;;
                    color: #f1d4d4;         
                  }
                  .mainInput:hover ~ .iconInput{ 
                    color: #f1d4d4!important;
                  }
                  
              }
              button{
                  padding: 11px 20px;
                  box-shadow: 0px 0px 7px 1px #00000026;
                  background: #484c7f;
                  color: #f1d4d4;
                  outline: none;
                  border: none;
                  margin-top: 46px;
                  border-radius: 5px;
                  transition: .4s;
                  z-index: 1;
              }
              button:hover{
                  background: #f1d4d4;
                  color: #484c7f;
              }
          }
      }   
    }

      .scrollbarsClass{
        border:1px solid #ffffff8c;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-top: -3px;
        height: 170%!important;
        position: absolute!important;
        width: 90%!important;
        div:nth-child(3){
          div{
            background-color: #484c7f!important;
          }
        }
      }

      .showBrandsName-enter-active {
          animation: fade 200ms;
        }

      .showBrandsName-exit-active {
          animation: fade 200ms alternate-reverse;
        }

/////////////////////////////////  . CHOOSE BRAND . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\





/////////////////////////////////  . NEW SLIDER . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.newItems
{
  background: linear-gradient(0deg, white 50%, #f1d4d4 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  h2{
    margin: 30px;
    color: #484c7f;
  }
}
.slickSlider{
  width: 85%;
  margin: 0 auto;
  cursor: grab;
  .slick-list{
    width: 100%;
    margin: 0 auto;
  }
  .blockInSlider{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow .2s,
                transform 1s;
    img{
      width: 100%;
    }
  }
  .blockInSlider:hover{
    -webkit-box-shadow: 0px 45px 69px -56px rgba(0,0,0,0.94);
    -moz-box-shadow: 0px 45px 69px -56px rgba(0,0,0,0.94);
    box-shadow: 0px 45px 69px -56px rgba(0,0,0,0.94);
    transform: scale(1.15);
    .infoSlider{
      background: #f1d4d4;
      p{
        color: #484c7f;
      }
    }
  }
   
}

.nextArrow,
.prevArrow{
  display: block;
  width: fit-content;
  position: absolute;
  top: 36.5%;
  right: -5%;
  z-index: 150;

  svg{
    font-size: 50px;
    cursor: pointer;
  }
}
.prevArrow{
  left: -5%;
} 

.infoSlider{
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #a0a0a099;
  transition: background 1s;
  h3{
    font-size: 20px;
    transition: transform .4s;
  }
  p{
    color: #ddb6c6;
    transition: transform .4s,
                color 1s;
  }
  span{
    font-size: 13px;  
  }
}

.showImg-enter-active{
  animation: fade 100ms forwards;
}

.showImg-exit-active{
  animation: fade 100ms alternate-reverse;
}



.slick-track 
{
  display: flex;
  padding-bottom: 80px;
  a{
    color: black;
    text-decoration: none;
  }
}

/////////////////////////////////  . NEW SLIDER . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\



/////////////////////////////////  . SALE SECTION . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.saleSelect{
  width: 100%;
  height: 500px;
  position: relative;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
  }
  div{
    position: absolute;
    z-index: 3;
    color: #f1d4d4;
    top: 50%;
    left: 10%;
    .saleLink{
      color: #f1d4d4;
      text-decoration: none;
      h4{
        font-size: 50px;
        font-weight: bold;
        transition: .4s;
        color: #484c7f;
      }
      h4:hover{
        color:#f1d4d4;
      }
      p{
        margin-top: 40px;
        transition: color 0.3s;
      }
      p:after {
        display: block;
        position: absolute;
        left: 45%; 
        transform: translateX(-50%); 
        width: 100%;
        height: 3px;
        background-color: #484c7f; 
        content: "";
        transition: width 0.3s ease-out;
      }
      p:hover{
        color: #484c7f;
      }
      p:hover:after,
      p:focus:after {
        width: 0;
        height: 2px;
      }
    }
  }
}
/////////////////////////////////  . SALE SECTION . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\



/////////////////////////////////  . NEW ARRIVALS . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.newArrivals{
  width: 100%;
  height: 500px;
  position: relative;
  padding: 30px 0px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    filter: brightness(.6);
  }
  .leftArrivals,
  .rightArrivals{
    float: left;
    width: 50%;
    position: relative;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
      div{
      position: absolute;
      z-index: 5;
      text-align: center;
        a{
          text-decoration: none;
        
          p{
            color: #f1d4d4;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 20px;
            transition: .4s;
          }
          p:hover{
            color: #ddb6c6;
          }
          button{
            color: #f1d4d4;
            background: #484c7f;
            padding: 15px 30px;
            border: 3px solid #484c7f;
            border-radius: 5px;
            text-decoration: none;
            transition: .4s;
          }
          button:hover{
            background: #f1d4d4;
            color: #484c7f;
            border: 3px solid #484c7f;
          }
        }
      }
  }
  .rightArrivals{
    float: right;
    animation: rigthBlockShow 1s;
  }
  .leftArrivals{
    animation: truckRoll 1s;
  }
}

@keyframes rigthBlockShow{
  from {transform:translateX(500px);}
  to {transform: translateX(0px);}
}
@keyframes fade
{
from{ opacity: 0;}
to { opacity: 1;}
}
/////////////////////////////////  . NEW ARRIVALS . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\