.showHeaderMob{
  display: none;
}

.wrapperMob{
  height: 56px;
  width: 100%;
  background: #c7bcd0;
}
.headerMob{
    position: fixed;
    top: 0;
    background: #ffffffe0;
    width: 100%;
    box-shadow: 0px 1px 5px #0000004f;
    z-index: 2345;
    justify-content: space-between;
    h2{
      margin-left: 10px;
    }
  }
      #page-wrap{
        background: white;
      }
      #outer-container{
        background: #c7bcd0;
      }
      .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        right: 5%;
        top: 0%;
        margin-top: 14px;
        span{
            border-radius: 5px;
        }
      }
      .bm-burger-bars {
        background: #373a47;
      }
      .bm-burger-bars-hover {
        background: #a90000;
      }
      .bm-cross-button {
        display: none;
      }
      .bm-cross {
        background: #bdc3c7;
      }
      .bm-menu-wrap {
        top: 0px;
        height: auto;
        width: 100%!important;
        right:0!important;
        transition: none!important;
      }
      .bm-menu {
        height: auto!important;
        background: #c7bcd0;
        padding: 2.5em 1.5em 2.5em;
        font-size: 1.15em;
        animation: menu 1s;
        overflow: initial!important;
      }
      .bm-morph-shape {
        fill: #373a47;
      }
      .bm-item-list {
        color: #b8b7ad;
        padding: 0;
        div:first-child{
            width: 100%;
            .pageNav{
                padding: 25px 0px;
                color: gray;
            }
        }
      }
      .bm-item {
        display: inline-block;
      }
      .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
      }
  .no-scroll{
      overflow-y: hidden;
  }



@media screen and (max-width: 768px){

  .pageNav{
    .brandsNav {
      width: 100%;
      right: 0;
      margin-top: 25px;
      li{
        text-align: center;
      }
    }
  } 
  
  .insta{
    margin-left: 25px;
    h1{
        font-size: 40px;
    }
    div{
      top: 29%;
      font-size: 25px;
      width: 21.5px;
      height: 21.5px;
      right: 16.6%;
      left: auto;
      border-radius: 50%;
    }
}
    .headerPC{display: none;}
    .showHeaderMob{display: block;}
    .footer{
        animation: none;
    }
}
@media screen and (max-width: 530px){


  .newArrivals{
    padding: 15px 0px;
    .leftArrivals,
    .rightArrivals{
      width: 100%;
      height: 50%;
      margin-bottom:15px
    }
  }
      .secondLi{
  
        margin: 0px 0px 0px -20px !important
      }
  }
  @media screen and (max-width: 375px){
    .insta{
      margin-left: 25px;
      h1{
          font-size: 35px;
          margin-top: 7px;
      }
      div{
        font-size: 22px;
        width: 18.5px;
        height: 18.5px;
      }
  }
}