@media screen and (max-width: 1000px){
    .order{
        .container-fluid{
            .orderForm{
                width: 100%;
            }
            .basket{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 500px){
    .order{
        h3{
            width: 95%;
        }
        .container-fluid{
            width: 95%;
            .orderForm{
                .residentOrGreen{
                    width: 100%;
                }
            }
            .footerOrder{
                width: 100%;
                div{
                    margin: 0 auto;
                }
            }
            .selectOrder{
                .wrapperBrandsName{
                    width: 100%!important;
                }
                .iconInput{
                    right: 4%;
                }
                input{
                    width: 100%;
                }
                textarea{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 350px){
    .order{
        h3{
            text-align: center;
        }
    }
}