    /////////////////////////////////  . SIDEBAR . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.store{
    display: flex;
    flex-direction: column;
    .showFilter{
        display: none;
    }
    .storeHeader{
        border-bottom: 1px solid #8080804d;
    }
    .sidebar{
        width: 25%;
        /////////////////////  . PRICE RANGE . \\\\\\\\\\\\\\\\\\
        .priceRange{
            display: flex;
            flex-direction: column;
            p:first-child{
                font-size: 20px;
                color: gray;
                margin: 15px 0px;
            }
            p:last-child{
                margin: 15px 0px;
            }
            .input-range{
                width: 90%;
                .input-range__label{
                    display: none;
                }
                .input-range__track--active{
                    background: #e9cbff;
                }
                .input-range__slider {
                    background: #d298ff;
                    border: 1px solid #d298ff;
                    height: 1.2rem;
                    width: 1.2rem;
                    margin-top: -0.76rem;
                    cursor: col-resize;
                }
                .input-range__slider:active{   
                    transform: scale(1.5);
                    background: white;
                    border: 2px solid #d298ff;
                }
            }
        } 
        /////////////////////  . PRICE RANGE . \\\\\\\\\\\\\\\\\\


        ////////////////////////  . SIZE FILTER . \\\\\\\\\\\\\\\\\\

        .sizeFilter{
            position: relative;
            display: flex;
            width: 100%;
            form{
                width: 100%;
                button{
                    display: none;
                }
            }
            .modelSelect{
                display: none;
            }
            .brandSelect{
              position: relative;
              .showBrandsName-enter-active,
              .showBrandsName-enter-done{
                border: 1px solid #19181838;
                z-index: 10;
                box-shadow: 0px 6px 15px -6px rgba(0,0,0,0.75);
                height: 200%;
              }
            }
            .iconInput{
              width: fit-content;
              position: absolute;
              right: 15%;
              top: 60%;
              transition: .4s;
            }

          p{
            color: gray;
            font-weight: 400;
            font-size: 20px;
          }
          input{
                cursor: pointer;
                padding: 10px;
                outline: none;
                background: white;
            }
            .mainInput{
              border: 1px solid #19181838;
                width: 90%;
                border-radius: 5px;
                transition: .4s;
                background:transparent;
            }
            .mainInput:hover{
              color: black;  
              background: #e9cbff;       
            }
            .mainInput:hover ~ .iconInput{ 
              color: black!important;
            }
        }


    .brandsName{
        position: relative;
        display: flex;
        flex-direction: column;
        background: white;
        input{
            border: none;
        }
        input:hover
        {
            background:rgb(241, 241, 241);
            color: rgb(193, 193, 193);
        }
    }

.showBrandsName-enter-active {
    // animation: fade 300ms;
  }

.showBrandsName-exit-active {
    // animation: fade 300ms alternate-reverse;
  }
}

        ////////////////////////  . SIZE FILTER . \\\\\\\\\\\\\\\\\\



        ////////////////////////  . COLOR FILTER . \\\\\\\\\\\\\\\\\\


        .colorFilter{
            width: 90%;
            height: 150px;
            p{
                font-size: 20px;
                color: gray;
                margin: 15px 0px;
            }
            ul{
                padding: 0;
                list-style: none;
                li{
                    float: left;
                    width: 15%;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px;  
                    a{
                        border-radius: 50%;
                        padding: 15px;
                        box-shadow: 0 0 3px 1px black;
                        transition: transform .4s;
                    }
                    a:hover{
                        transform: rotate3d(1, 1, 1, 360deg)
                    }
                }
            }
        }

        ////////////////////////  . CCOLOR FILTER . \\\\\\\\\\\\\\\\\\

        ////////////////////////  . GENDER FILTER . \\\\\\\\\\\\\\\\\\

        .gender{
            display: flex;
            flex-direction: column;
            width: 90%;
            div{
                .checkbox {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                    margin: 10px 0 0 20px;
                }
                .checkbox + label {
                    position: relative;
                    padding: 0 0 0 60px;
                    cursor: pointer;
                }
                .checkbox + label:before {
                    content: '';
                    position: absolute;
                    top: -4px;
                    left: 0;
                    width: 50px;
                    height: 26px;
                    border-radius: 13px;
                    background: #CDD1DA;
                    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
                    transition: .2s;
                }
                .checkbox + label:after {
                    content: '';
                    position: absolute;
                    top: -2px;
                    left: 2px;
                    width: 22px;
                    height: 22px;
                    border-radius: 10px;
                    background: #FFF;
                    box-shadow: 0 2px 5px rgba(0,0,0,.3);
                    transition: .2s;
                }
                .checkbox:checked + label:before {
                    background: #d298ff;
                }
                .checkbox:checked + label:after {
                    left: 26px;
                }
                .checkbox:focus + label:before {
                    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px #e9cbff;
                }
            }
            p{
                font-size: 20px;
                color: gray;
                margin: 15px 0px;
            }
        }
        
        ////////////////////////  . GENDER FILTER . \\\\\\\\\\\\\\\\\\





         ////////////////////////  . BRAND FILTER . \\\\\\\\\\\\\\\\\\


            .brandFilter{
                p{
                    font-size: 20px;
                    color: gray;
                    margin: 15px 0px;
                }
                ul{
                     list-style: none;
                     padding: 0;
                     
                     li{
                         margin: 15px 0px;
                         
                         a{
                             color: black;
                             text-decoration: none;
                             font-size: 20px;
                             transition: color .4s;
                         }
                    
                        a:hover{
                            color: #d298ff;
                        }
                     }
                }
               
            }

         ////////////////////////  . BRAND FILTER . \\\\\\\\\\\\\\\\\\



    /////////////////////////////////  . SIDEBAR . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\



    /////////////////////////////////  . PRODUCTS LIST . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    .barAndProducts{
        display: flex;
        justify-content: space-between;
        .productsList{
            width: 70%;
            ul{
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                a{
                    color: black;
                    text-decoration: none;
                    width: 30%;
                    margin: 10px;
                    .productsCard{
                        list-style: none;
                        width: 100%;
                        padding: 10px;
                        .cardBlock{
                            transition: box-shadow .4s;
                            border-radius: 10px;
                            box-shadow: 0 0 1px #7d7d7d96;

                        }
                        .cardBlock:hover{
                            box-shadow: 0 0 13px black;
                            .infoSlider{
                                border-top: 1px solid black;
                            }
                        }
                        img{
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                }
                
            }
        }   
     }
}
    /////////////////////////////////  . PRODUCTS LIST . \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\