@import'~bootstrap/scss/bootstrap';
@import'./style/header.scss';
@import'./style/home.scss';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

// @import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
body {
  // font-family: 'Neucha', cursive;
  font-family: 'Noto Serif', serif;
  // font-family: 'Indie Flower', cursive;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

