@import'~bootstrap/scss/bootstrap';
@import'./style/header.scss';
@import'./style/home.scss';
@import'./style/footer.scss';
@import'./style/store.scss';
@import'./style/mobile.scss';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
body {
  display: flex;
  flex-direction: column;
  // font-family: 'Orbitron', sans-serif;
  // font-family: 'Varela Round', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

